.clock{
    width: 30rem;
    height: 30rem;
    background:#545271 ;
    border: 7px solid #545271;
     border-radius: 50%; 
    position: relative;
    padding: 2rem;
    box-shadow: 0 20px 30px #684b6aa6;
    margin-left:80px ;
}
.outer-clock-face{
    position: relative;
    width: 100%;
    height: 100%;
    background: #fefefc;
    border-radius: 100%;
    box-shadow: 0 20px 10px #3e2f3f73;
    overflow: hidden;
}
.outer-clock-face::after{
    transform: rotate(90deg);
}
.outer-clock-face::before,
.outer-clock-face::after,
.outer-clock-face.marking{
    content: '';
    position: absolute;
    width: 6px;
    height: 100%;
    background: #b8b8c5;
    z-index: 0;
    left: 49%;

}

 .outer-clock-face.marking{
    background: #bdbdcb;
    width:3px ;
}
.outer-clock-face.marking.marking-one{
    transform: rotate(30deg);

}
.outer-clock-face.marking.marking-two{
    transform: rotate(60deg);
    
}
.outer-clock-face.marking.marking-three{
    transform: rotate(120deg);
    
}
.outer-clock-face.marking.marking-four{
    transform: rotate(150deg);
    
}
.inner-clock-face{
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    background: #fefefc;
    border-radius: 100%;
    z-index: 1;
}
.inner-clock-face::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 16px;
    height: 16px;
    border-radius: 18px;
    margin-left: -9px;
    margin-top: -6px;
    background:#4d4b63 ;
    z-index: 11;

} 

.hand{
    width: 50%;
    height: 6px;
    right: 50%;
    background: #61afff;
    position: absolute;
    top: 50%;
    border-radius: 6px;
    transform-origin: 100%;
    transform: rotate(90deg);
    transition-timing-function: cubic-bezier(0.,1, 2.7,0.58, 1);
}
.hand.hour-hand{
    width: 20%;
    z-index: 3;
}
.hand.min-hand{
    height: 3px;
    z-index: 10;
    width: 35%;}
.hand.second-hand{
    width:40% ;
    background: #ff5e5e;
}