
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
.cover{
    background: red;
      width: 300px; 
     height: 250px; 
    align-items: center; 
     border: 2px solid black; 
     border-radius: 50%; 
    


}
.cover{
  column-count: 2;
}
.ubah{
  /* margin-left: 500px; */
}

  .iman{ 
    margin-top: 50px; 
    background-color: blue;
    /* margin-left: 1000px; */
     /* margin-bottom: 600px; */ 

}
  .salah{  
    margin-top: 50px;
    background-color:red;
    
    
    

  }
  .ahmed{  
      margin-top: 50px;  
     background-color: blue;


    
    }

  .cover{   
	display: grid;
	grid-template-columns: repeat(3,200px);
	grid-auto-rows: minmax(150px,auto);
	grid-gap: 4.5em;
	justify-content: center;
	 padding-top: 20px; 
}

    